{% extends "base.html" %}

{% block content %}
    <h2>Iniciar Sesion</h2>
    <form method="post">
        {% csrf_token %}
        <label for="{{ form.username.id_for_label }}">Usuario</label>
        <input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}">
        
        <label for=" {{ form.password.id_for_label }}">Contraseña</label>
        <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.name }}">

        <button type="submit">Iniciar Sesion</button>
    </form>
{% endblock %}