
<header>

    <div class="topnav">
        {% if user.is_authenticated %}
        <a href="{% url 'scrum:tareas-lista' %}">Tareas</a>
        <a href="{% url 'scrum:sprints-lista' %}">Sprints</a>
        <form style="float: right;" method="post" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <button class="boton-cerrar-sesion" type="submit">Cerrar Sesión</button>
        </form>
        {% else %}
            <a href="{% url 'accounts:login' %}"  class="right" role="button">Iniciar Sesion</a>
        {% endif %}
    </div>

</header>