{% extends "base.html" %}

{% block content %}
<h2>LISTA DE TAREAS</h2>
<ul class="lista-tareas">
    {% for tarea in tareas %}
        <li class="tarea-item">
            <a href="{% url 'scrum:tarea-detalle' tarea.id %}">
                <div class="tarea-container">
                    <p class="tarea-titulo">{{ tarea.titulo }}</p>
                    <p class="tarea-descripcion">{{ tarea.descripcion }}</p>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}