{% extends "base.html" %}

{% block content %}
<div class="centrar">
    <div class="container">
        <p class="titulo-container">{{ tarea.titulo }}</p>
        <p>{{ tarea.descripcion }}</p>
        <ul class="lista-tareas">
            <li>Criterios de Aceptacion: {{ tarea.criterios_aceptacion }}</li>
            <li>Prioridad: {{ tarea.prioridad }}</li>
            <li>Estado: {{ tarea.estado }}</li>
            <li>Esfuerzo Estimado: {{ tarea.esfuerzo_estimado }}</li>
            <li>Responsable: {{ tarea.responsable }}</li>
            <li>Sprint Asignado ID: {{ tarea.sprint_asignado.id }}</li>
            <li>Fecha de Creacion: {{ tarea.fecha_de_creacion }}</li>
            <li>Fecha de Actualizacion: {{ tarea.fecha_de_actualizacion }}</li>
            <li>Fecha de Finalizacion: {{ tarea.fecha_de_finalizacion }}</li>
            <li>Dependecias: {{ tarea.dependencias }}</li>
            <li>Bloqueadores: {{ tarea.bloqueadores }}</li>
        </ul>
        <a href="{% url 'scrum:tareas-lista' %}">Volver a la Lista</a>
    </div>
</div>


{% endblock %}